<div class="container align-items-start m-3 pt-3 rounded ">
    <div class="row">
        <div class="col-12 main-container rounded">
            <div class="row m-3 title-row">
                <div class="col-12 title-col">
                    <h2>Contacts</h2>
                </div>
            </div>
            <div class="row header-row rounded">
                <div class="col header-col rounded">NAME</div>
                <div class="col header-col rounded">EMAIL</div>
                <div class="col header-col rounded">PHONE</div>
            </div>
            @if (contacts$ | async; as contacts) {
            @if (contacts.length > 0) {

            @for (item of contacts; track $index) {
            <div class="row contact-row rounded">
                <div class="col contact-col">
                    {{ item.name }}
                </div>
                <div class="col contact-col">
                    {{ item.email }}
                </div>
                <div class="col contact-col">
                    {{ item.phone }}
                </div>
            </div>
            }
            }
            @else {
            } }
        </div>
    </div>
</div>